@model IEnumerable<SchoolSystem1.View_Model.CourseVM>

@{
    ViewBag.Title = "ViewCourses";
    var i = 1;

}

<h2>ViewCourses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
    </tr>
    i++;
}

</table>
